<nav>
  <ul style="display: flex; list-style: none; padding: 0;">
    <li style="margin-right: 5px; margin-left: 5px;">
      <a [routerLink]="['/loja/categorias']">
        Categoria
      </a>
    </li>
    /
    <li style="margin-right: 5px; margin-left: 5px;">
      <a [routerLink]="['/loja/categorias', produto.value?.categoria_uuid]">
        Produtos
      </a>
    </li>

  </ul>

</nav>

<h2>Produto</h2>


<strong>Imagem Produto</strong>

<div>

    @if (fileData.bytes_base64 || produto.value?.image_url) {
      imagem
      <img
      [src]="fileData.bytes_base64 || produto.value?.image_url"
      alt="Imagem selecionada" width="350px">
    } @else {
      <strong>Nenhuma imagem disponível!</strong>
    }

    <form [formGroup]="imageForm">
      <input
        type="file"
        (change)="onFileSelected($event)"
        accept="image/*">

    </form>

    @if (!atualizandoImagem) {

      @if (fileData.bytes_base64) {
        <button (click)="uploadImage()">Atualizar Imagem</button>
      }
    } @else {
      <strong>Atualizando a imagem de cadastro...</strong>
    }
</div>
<div>
  @if (produto.value?.image_url) {
    <button (click)="removeImage()">Remover imagem X</button>
  }
</div>

@if (produto.value) {

  <div>
    Nome  <input type="text" [(ngModel)]="nomeValue">
  </div>

  <div>
    Preço Base (R$) <input type="number" [(ngModel)]="precoValue">
  </div>


  <div>
    Descricao <input type="text" [(ngModel)]="descricaoValue">
  </div>

  <button
    (click)="updateProdutoData($event)"
    >Atualizar dados</button>
  <br />

  @if (produto.value.precos.length) {
    <h2>Preços</h2>

    @for (preco of produto.value.precos; track $index) {
      <div>
        <strong>Preço:</strong> {{ preco.valor | currency:"BRL" }}, Dia da semana: {{ preco.dia_da_semana }}
        <button (click)="removerPreco($event, preco)">Remover preco</button>
      </div>
    }
  }

  <h2>Cadastro de Preços Especiais</h2>

  <div>
    <div>

    </div>

    @if (diasDaSemanaDisponiveis.value.length) {

      <label for="dia_da_semana-input">Dia da Semana</label>
      <select
        name="dia_da_semana"
        id="dia_da_semana-input"
        [(ngModel)]="diaDaSemanaValue"
      >

        <option value="">Escolha um dia da semana</option>
        @for (dia of diasDaSemanaDisponiveis.value; track $index) {

          <option value="{{ dia.val }}">{{ dia.title }}</option>

        }
      </select>


      <div>
        <label for="valor-input">Valor</label>
        <input
          (keyup.enter)="cadastrarPreco($event)"
          type="number"
          id="valor-input"
          [(ngModel)]="valorValue" />

      </div>

      @if (!saving) {
        <button (click)="cadastrarPreco($event)">
          Salvar
        </button>
      } @else {
        Saving ...
      }
    } @else {
      <strong>Nenhum preço disponível!</strong>
    }


  </div>
} @else {
  <strong>Loading ...</strong>
}

