<h1>Login</h1>
<div>
  <h2>Company Login</h2>
  <div>
    <input
      (keyup.enter)="doCompanyLogin()"
      type="text"
      [(ngModel)]="loginCompanyValue"
    />
    <input
      (keyup.enter)="doCompanyLogin()"
      type="password"
      [(ngModel)]="passwordCompanyValue"
    />
  </div>
  <button (click)="doCompanyLogin()">Login</button>
</div>

<div>
  <h2>User Login</h2>
  <div>
    <input
      (keyup.enter)="doUserLogin()"
      type="text"
      [(ngModel)]="loginUserValue"
    />
    <input
      (keyup.enter)="doUserLogin()"
      type="password"
      [(ngModel)]="passwordUserValue"
    />
  </div>
  <button (click)="doUserLogin()">Login</button>
</div>
