<div>Sign up Empresa</div>
<div>
    <div>
      Nome
      <input type="text" [(ngModel)]="nomeValue">
    </div>

    <div>
      E-mail
      <input type="text" [(ngModel)]="emailValue">
    </div>

    <div>
      Telefone
      <input type="text" [(ngModel)]="telefoneValue">
    </div>

    <div>
      celular
      <input type="text" [(ngModel)]="celularValue">
    </div>

    <div>
      username
      <input type="text" [(ngModel)]="usernameValue">
    </div>

    <div>
      Senha
      <input type="password" [(ngModel)]="senhaValue">
    </div>

    <div>
      Confirme a senha
      <input type="password" [(ngModel)]="senha2Value">
    </div>

    <div>
      <button (click)="doSignUp()">Cadastrar</button>
    </div>

</div>
