<link rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/axios.min.js') }}"></script>
