<nav>

  <ul>
    @if (userIsLoggedIn.value) {
      <li><a routerLink="user/pedidos/">Pedidos</a></li>
      <li><a routerLink="user/historico/">Historico</a></li>
      <li><a routerLink="user/home">Home</a></li>
    }

    @if (companyIsLoggedIn.value) {
      <li><a routerLink="loja/home">Home</a></li>
      <li><a routerLink="loja/produtos">Produtos</a></li>
      <li><a routerLink="loja/categorias">Categorias</a></li>
      <li><a routerLink="loja/pedidos">Pedidos</a></li>
      <li><a routerLink="loja/status">Status</a></li>
      <li><a routerLink="loja/settings">Configuração de conta</a></li>
      <li><a routerLink="loja/cadastro-cliente">Cadastro de cliente</a></li>
      <li><a routerLink="loja/historico">Historico</a></li>
    }

    @if (!userIsLoggedIn.value && !companyIsLoggedIn.value) {

      @if (!isLoginPage.value) {
        <li><a routerLink="login">Login</a></li>
      }

    } @else {

      <li><a routerLink="logout">Logout</a></li>

    }


  </ul>
</nav>
