@if (pedido) {
  <h2>Detalhes do Pedido</h2>
  <p><strong>Celular:</strong> {{ pedido.celular }}</p>
  <p><strong>Data e Hora:</strong> {{ pedido.data_hora }}</p>

  <h3>Endereço</h3>
  <p><strong>UF:</strong> {{ pedido.endereco.uf }}</p>
  <p><strong>Cidade:</strong> {{ pedido.endereco.cidade }}</p>
  <p><strong>Logradouro:</strong> {{ pedido.endereco.logradouro }}</p>

  <h3>Itens do Pedido</h3>
  <ul>
    @for (item of pedido.itens_pedido; track $index) {
      <li>
        <p><strong>Produto:</strong> {{ item.produto?.nome }}</p>
        @if (item.produto) {
          <p><strong>Valor unitário:</strong> {{ item.produto.preco }}</p>
        }
        <p><strong>Quantidade:</strong> {{ item.quantidade }}</p>
        @if (item.produto) {
          <p><strong>Subtotal:</strong> {{ item.subtotal }}</p>
        }
      </li>
    }
  </ul>
  <h3>Total: {{ totalFormatado.value }}</h3>
}

