<a [routerLink]="['/user/home']" routerLinkActive="router-link-active" >
  Lojas
</a>

<hr />

<div>
  Nome: {{ loja?.nome }}
</div>

<div>
  Email: {{ loja?.email }}
</div>


<h3>Pedido</h3>

<div>
  Celular
  <input type="text" [(ngModel)]="celular" mask="(00) 00000-0000" />
</div>

<div>
  <h3>Endereco</h3>

  <div>
    <div>
      <label for="uf">UF:</label>
      <input
        [(ngModel)]="endereco.uf"
        type="text"
        id="uf"
        name="uf" />
    </div>
    <div>
      <label for="cidade">Cidade:</label>
      <input
        [(ngModel)]="endereco.cidade"
        type="text"
        id="cidade"
        name="cidade" />
    </div>
    <div>
      <label for="logradouro">Rua:</label>
      <input
        [(ngModel)]="endereco.logradouro"
        type="text"
        id="logradouro"
        name="logradouro" />
    </div>
    <div>
      <label for="numero">Número:</label>
      <input
        [(ngModel)]="endereco.numero"
        type="text"
        id="numero"
        name="numero" />
    </div>
    <div>
      <label for="bairro">Bairro:</label>
      <input
        [(ngModel)]="endereco.bairro"
        type="text"
        id="bairro"
        name="bairro" />
    </div>
    <div>
      <label for="cep">CEP:</label>
      <input
        [(ngModel)]="endereco.cep"
        type="text"
        id="cep"
        name="cep" />
    </div>
    <div>
      <label for="complemento">Complemento:</label>
      <input
        [(ngModel)]="endereco.complemento"
        type="text"
        id="complemento"
        name="complemento" />
    </div>
    <div>
      <button type="submit">Enviar</button>
    </div>
  </div>
</div>

<h3>Itens</h3>

@for (item of numeroDeItens.value; track $index) {
  <div style="margin: 25px;">
    <label for="">Produtos</label>
    <select [(ngModel)]="item.produto">
      <option value="">Escolha um produto</option>
      @for (produto of companyProducts.value; track $index) {
        <option value="{{ produto.uuid }}">{{ produto.nome }}</option>
      }
    </select>
    <div>
      <label for="">Quantidade</label>
      <input type="number" [(ngModel)]="item.quantidade" min="1">
    </div>
    @if (numeroDeItens.value.length > 1) {
      <div>
        <button (click)="removeItem(item)">Remover Item</button>
      </div>
    }
  </div>
}
<div>
  <button (click)="addItem()">Adicionar Item</button>
</div>

<hr />

<div>
  <button (click)="cadastrarProduto()">Concluir Pedido</button>
</div>

