<h2>Histórico</h2>
<hr>

<h4>
  Total: {{ total | currency:"BRL" }}
</h4>

@if (!loading) {


  @for (pedido of pedidos.value; track $index) {

    @if (pedido.concluido) {

        <p>
          <a [routerLink]="['/loja/pedidos', pedido.uuid]" >
            <strong>ID: {{pedido.uuid}}</strong>
          </a>
        </p>
        <div>Total: {{ pedido.total | currency:'BRL' }}</div>

        Comentarios: {{ pedido.comentarios }}

        <p>Celular:
          <a href="http://wa.me/55{{pedido.celular}}">{{pedido.celular}}</a>
        </p>
        <p>Data e Hora: {{pedido.data_hora | formatDate }}</p>
        <h3>Endereço:</h3>
        <ul>
            <li>Bairro: {{pedido.endereco.bairro}}</li>
            <li>CEP: {{pedido.endereco.cep}}</li>
            <li>Cidade: {{pedido.endereco.cidade}}</li>
            <li>UF: {{pedido.endereco.uf}}</li>
            <li>Logradouro: {{pedido.endereco.logradouro}}</li>
            <li>Numero: {{pedido.endereco.numero}}</li>
            <li>Complemento: {{pedido.endereco.complemento}}</li>
        </ul>

        <p>
          Frete: R$ {{ pedido.frete }}
        </p>

        <h3>Itens do Pedido:</h3>
        <div style="border: 1px solid black;">
          <ul>
          @for (item of pedido.itens; track $index) {
            <li>Produto: {{ item.produto_nome }}</li>
            <li>Preço: {{ item.valor | currency:"BRL" }}</li>
            <li>Subtotal: {{ item.valor * item.quantidade | currency:"BRL" }}</li>
            <li>Quantidade: {{ item.quantidade }}</li>
            <li>Comentarios: {{ item.observacoes }}</li>
            <hr>
          }
          </ul>
        </div>

    }

  <hr [ngStyle]="{'margin-top.px': 50}">
  <hr>
  <hr [ngStyle]="{'margin-bottom.px': 50}">

  }


} @else {
  <spinner />
}

