<div>
  <h3>Endereço</h3>
  <div>
    UF
    <select [(ngModel)]="ufValue">
      @for (uf of ufs; track $index) {
        <option [value]="uf">{{ uf }}</option>
      }
    </select>
  </div>

    <div>
      cep
      <input
        type="text"
        [(ngModel)]="cepValue"
        (input)="getCEPData()"
        mask="00000-000">
    </div>

    <div>
      cidade
      <input type="text" [(ngModel)]="cidadeValue">
    </div>

    <div>
      logradouro
      <input type="text" [(ngModel)]="logradouroValue">
    </div>

    <div>
      bairro
      <input type="text" [(ngModel)]="bairroValue">
    </div>

    <div>
      numero
      <input type="text" [(ngModel)]="numeroValue">
    </div>

    <div>
      complemento
      <input type="text" [(ngModel)]="complementoValue">
    </div>

    <hr />

    <div>
      Nome
      <input type="text" [(ngModel)]="nomeValue">
    </div>

    <div>
      E-mail
      <input type="email" [(ngModel)]="emailValue">
    </div>

    <div>
      Telefone
      <input type="text" [(ngModel)]="telefoneValue" mask="(00) 0000-0000">
    </div>

    <div>
      celular
      <input type="text" [(ngModel)]="celularValue" mask="(00) 0 0000-0000">
    </div>

    <div>
      username
      <input type="text" [(ngModel)]="usernameValue">
    </div>

    <div>
      Senha
      <input type="password" [(ngModel)]="senhaValue">
    </div>

    <div>
      Confirme a senha
      <input type="password" [(ngModel)]="senha2Value">
    </div>

    <div>
      <button (click)="doSignUp($event)">Cadastrar</button>
    </div>

    <form [formGroup]="imageForm">
      <input type="file" (change)="onFileSelected($event)" accept="image/*">
    </form>

    <div>
      @if (selectedImage) {
        <hr>
        <p>Imagem Selecionada</p>
        <img [src]="selectedImage" alt="Imagem selecionada">
      }
    </div>

</div>
