<h2>Cadastro de status</h2>

<div>
  Nome
  <input type="text" [(ngModel)]="nomeValue" (keyup.enter)="cadastrarStatus()">

  Descrição
  <input type="text" [(ngModel)]="descricaoValue" (keyup.enter)="cadastrarStatus()">
  @if (!saving) {
    <button (click)="cadastrarStatus()">Cadastrar</button>
  } @else {
    <strong>Cadastrando...</strong>
  }
</div>

@if (!fetching) {


  <h2>Status List</h2>

  @if (statusList.value.length) {

    @for (status of statusList.value; track $index) {
      <div>
        Nome: {{ status.nome }}, Descrição: {{ status.descricao }}
        <button (click)="deletarStatus($event, status)">Delete</button>
      </div>
    }

  } @else {
    <strong>Nenhum status encontrado!</strong>
  }

} @else {
  <spinner />
}

