[Desktop Entry]
Name=Chiquitos
Exec=/home/antonio/Development/Chickie/qt/dev.sh
Icon=/home/antonio/Development/Chickie/qt/icon.png
Terminal=true
Type=Application
Categories=Utility;
