@if (companyData.value) {
  <h3>
    {{ companyData.value.loja.nome }}
  </h3>

  <div>
    <strong>Email</strong>: {{ companyData.value.loja.email }}
  </div>

  <div>
    <strong>Username</strong>: {{ companyData.value.loja.username }}
  </div>

  <div>
    <strong>UUID:</strong> {{ companyData.value.loja.uuid }}
  </div>

  <strong>Imagem Cadastro</strong>
  <div>
    <img
      width="400px"
      [src]="imageBase64String"
      alt="Imagem de cadastro" />

  </div>

} @else {
  <strong>Loading...</strong>
}
